.container{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
    

}
.food-container{
    height: auto;
    width: 300px;
    margin: 10px 20px;
    border-color: #d6c5c5;
    color: green;
    font-size: 5px;
    border-style: double;
    text-align: center;
    border-radius: 15px;
    


}
